RUST_LOG=debug,h2=info,lapin=info
RUST_BACKTRACE=1
PROC_RUST_LOG="${RUST_LOG}"
PROC_RUST_BACKTRACE="${RUST_BACKTRACE}"

PROC_DOCKER_DNS_PUBLIC_1=8.8.8.8
PROC_DOCKER_DNS_PUBLIC_2=8.8.4.4
PROC_DOCKER_DNS_PREFIX=192.168.83
PROC_DOCKER_PRIVATE_IP_1=127.0.0.1
PROC_DOCKER_PRIVATE_IP_2=192.168.83.1
PROC_DOCKER_VOLUME_PATH=/ahmard/apps/refinery-procurement

PROC_SERVER_AUTH_PORT=9151
PROC_SERVER_ADMIN_PORT=9152
PROC_SERVER_CATALOG_PORT=9153
PROC_SERVER_PROCUREMENT_PORT=9154
PROC_SERVER_WORKER_PORT=9155

PROC_LOG_OUTPUT_FORMAT=pretty
PROC_LOG_WITH_TARGET=true
PROC_LOG_WITH_FILE_NAME=true
PROC_LOG_WITH_LINE_NUMBER=true
PROC_LOG_WITH_THREAD_NAMES=true

PROC_APP_ENVIRONMENT=local

PROC_APP_NAME="IDVault"
PROC_APP_CODE=PROC
PROC_APP_KEY=def13e62641a4382d166ca686fdf69d9d0e5584ed176aa611be33b0f90c08034

# AUTH
PROC_AUTH_PAT_PREFIX=auth_pat_
PROC_AUTH_TOKEN_LIFETIME=483840

# DATABASE
PROC_DB_DRIVER=postgres
PROC_DB_HOST=localhost
PROC_DB_PORT=5432
PROC_DB_USERNAME=ahmard
PROC_DB_DATABASE=refinery_procurement
PROC_DB_PASSWORD="Pass.1234"
PROC_DB_POOL_MAX_SIZE=5
DATABASE_URL="${PROC_DB_DRIVER}://${PROC_DB_USERNAME}:${PROC_DB_PASSWORD}@${PROC_DB_HOST}:${PROC_DB_PORT}/${PROC_DB_DATABASE}"
PROC_DB_DSN="${DATABASE_URL}"

# REDIS
PROC_REDIS_PORT=8379
PROC_REDIS_HOST=localhost
PROC_REDIS_USERNAME=default
PROC_REDIS_PASSWORD="Pass.1234"
PROC_REDIS_POOL_MAX_SIZE=15
PROC_REDIS_DSN="redis://${PROC_REDIS_USERNAME}:${PROC_REDIS_PASSWORD}@${PROC_REDIS_HOST}:${PROC_REDIS_PORT}"

# RABBIT-MQ
PROC_RMQ_PORT=5672
PROC_RMQ_STREAM_PORT=5552
PROC_RMQ_MANAGEMENT_PORT=15672
PROC_RMQ_HOST=localhost
PROC_RMQ_USERNAME=ahmard
PROC_RMQ_PASSWORD="Pass.1234"
PROC_RMQ_POOL_MAX_SIZE=10
PROC_RMQ_DSN="amqp://${PROC_RMQ_USERNAME}:${PROC_RMQ_PASSWORD}@${PROC_RMQ_HOST}:${PROC_RMQ_PORT}"

# RMQ-EXCHANGES
PROC_RMQ_EXCHANGE_APP=proc-echange-app

# RMQ-QUEUES
PROC_RMQ_QUEUE_APP=proc-queue-app
